* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #EFFFFB;
}


.logo>i {
    display: none;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo>img {
    background-color: #1C6758;
    width: 25px;
    padding: 3px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 32px;
    width: 90%;
}

.searchbar {
    border: 1px solid gray;
    padding: 10px 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar>input {
    border: none;
    background-color: transparent;
    outline: none;
}

.section1__left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nav_links {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.links {
    text-decoration: none;
    color: gray;
}

.links:hover {
    color: #1C6758;
    text-decoration: underline;
}

.section1__right>button {
    background-color: #1C6758;
    color: white;
    padding: 15px 20px;
    border: none;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}

.extended-nav{
    display: none;
}

.hamburger{
    display:none;
    position: absolute;
    right:30px;
    top:35px;
    cursor: pointer;
}

.cross {
    display:none;
    position: absolute;
    right:30px;
    top:32px;
    cursor: pointer;
}


.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section2__contents {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 20px 32px;
    justify-content: space-between;
}

.section2__left {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    gap: 1.5rem;
}

.section2__right {
    display: flex;
    width: 40%;
}

.item {
    display: flex;
    width: 80%;
}

.section2__left>h1>span {
    color: #1C6758;
}

.section2__left>p {
    font-size: 18px;
    color: gray;

}

.section2__left>button {
    background-color: #1C6758;
    width: 35%;
    padding: 16px;
    color: white;
    border: none;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;

}

.section2__right>img {
    display: flex;
    width: 500px;

}

footer {
    background-color: #1C6758;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EFFFFB;
    flex-direction: column;
    gap: 1.5rem;
}

.footer_contents {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.get_app
{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap : 1rem;
}

.get_app_img
{
    display: flex;
    gap : 1rem;
}

.get_app_img>img
{
    width: 120px;
}

.purpose
{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap : 0.8rem;
}

.purpose > img{
    width: 150px;
}

.useful-links
{
    display: flex;
    flex-direction: column;
    gap : 1.5rem;
}

.useful-links-a
{
    display: flex;
    flex-direction: column;
    gap : 3px;
    text-align: center;
}

.useful-links-a > a{
    text-decoration: none;
    color : #F7F7F7;
}

.useful-links-a > a:hover
{
    color: black;
}

.copyright
{
    width: 95%;
    padding: 20px;
    border-top: 1px solid #EFFFFB;
    text-align: center;
    font-size: 14px;
}

/* -----------------------MEDIA QUERY-------------------------------------------------- */

@media only screen and (max-width:768px) {
    .nav_links {
        display: none;
    }

    .section1__left {
        width: 100%;
    }

    .extended-nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;
        top:70px;
        left:0px;
        width:100%;
        max-width: 768px;
        min-height: 600px;
        z-index: 5;
        align-items: center;
        justify-content: center;
        gap:15px;
        transform: translateY(-130%);
        transition: .4s;
    }

    .extended-nav.active{
        transform: translateY(0%);
    }

    .extended-nav > a{
        color:black;
        font-size: 30px;
    }

    .hamburger{
        display: flex;
    } 

    .hamburger.inactive{
        display: none;
    }

    .cross.active{
        display: flex;
    }
    .cross>i{
        font-size: 18px;
    }
    .section1__right>button {
        display: none;
    }

    .logo>i {
        display: flex;
        position: absolute;
        right: 40px;
    }

    .navbar {
        width: 100%;
    }

    .searchbar {
        width: 100%;
        justify-content: space-between;
    }

    .section1__left {
        justify-content: start;
    }

    /* ==========SECTION 2============ */

    .section2__contents {
        flex-direction: column;
        gap: 2rem;
    }

    .section2__left {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .section2__left>h1 {
        font-size: 25px;
        text-align: center;
    }

    .section2__left>p {
        font-size: 14px;
        text-align: center;
    }

    .section2__left>button {
        width: 80%;
    }

    .section2__right {
        width: 100%;
    }

    .item {
        width: 100%;
    }

    .item>img {
        width: 100%;
        height: auto;
    }



    .footer_contents
    {
        flex-direction: column;
        gap : 2.5rem;
        justify-content: center;
        align-items: center;
    }

    .get_app,.purpose,.useful-links
    {
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .get_app >h3,.useful-links > h3{
        font-size: 16px;
    }

    .get_app > p, .purpose > p{
        font-size: 14px;
    }

    .get_app{
        text-align: center;
    }

    .useful-links{
        gap : 1rem;
    }
    .useful-links-a>a{
        font-size: 14px;
    }

    .copyright > p{
        font-size: 12px;
    }
    .copyright{
        width: 90%;
    }
}